.v15blub {
	FONT: bold 14px/17px verdana, arial, helvetica, sans-serif; COLOR: #1e60aa
}
.vhd17blu {
	FONT: 17px/19px verdana, arial, helvetica, sans-serif; COLOR: #1e60aa
}
.vgreyb {
	FONT: bold 11px/13px verdana, arial, helvetica, sans-serif; COLOR: #666666; TEXT-DECORATION: none
}
.vgrey {
	FONT: 11px/13px verdana, arial, helvetica, sans-serif; COLOR: #666666; TEXT-DECORATION: none
}
.vwhite {
	FONT: 11px/13px verdana, arial, helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none
}
.vblueb {
	FONT: bold 11px/12px verdana, arial, helvetica, sans-serif; COLOR: #1e60aa
}
.vblue15b {
	FONT: bold 15px/17px verdana, arial, helvetica, sans-serif; COLOR: #1e60aa
}
.sw {
	FONT: bold 10px verdana, arial, helvetica, sans-serif; COLOR: white
}
.s {
	FONT: 10px/11px verdana, arial, helvetica, sans-serif
}
.sblu {
	FONT: 10px/11px verdana, arial, helvetica, sans-serif; COLOR: #003399
}
.t2 {
	FONT: 2px/2px arial, helvetica, sans-serif
}
.t5 {
	FONT: 5px/5px arial, helvetica, sans-serif
}
.t8 {
	FONT: 8px/8px arial, helvetica, sans-serif
}
.t12 {
	FONT: 12px/12px arial, helvetica, sans-serif
}
.t22 {
	FONT: bold 22px/22px arial, helvetica, sans-serif
}
.t22h {
	FONT: 22px/22px helvetica, arial, sans-serif
}
.t25 {
	FONT: bold 25px/25px arial, helvetica, sans-serif
}
