###########################
# DISTCODE SECTION
###########################

[DISTCODE]
Count=1
Value1= W0P0

[TPS]
TPS= flipside_

[AltConfiguration]
Count=4
Config1=catalog\arcade.cfg
Config2=catalog\gameinfo.cfg
Config3=catalog\sponinfo.cfg
Config4=catalog\addons.cfg

[DesktopShortcut]
Label=RealArcade

[EREG]
NOCANCELBUTTON=TRUE
MyAccountEnabled=TRUE
ShowMyAccountAtStartup=TRUE
ShowMyAccountAtShutdown=FALSE
ShowMyAccountAtDownload=FALSE

[EREGTEXT]
TEXT1= Welcome to RealArcade!  If you'd like to receive The Score, our free games newsletter, please include a valid e-mail address.
TEXT2= RealArcade does not share your e-mail address without your permission.  You can unsubscribe from The Score at any time.

[InstallCompletedURL]
src=http://switchboard.real.com/arcade/download.html?file=online/install/<DISTCODE> 
dest=install.log

#################################
#  COMPONENT : PREFERRED LANGUAGE
#################################


[Languages]
Count=10
Name1=English
Value1=1033
Name2=Deutsch
Value2=1031
Name3=Español
Value3=3082
Name4=Français
Value4=1036
Name5=Italiano
Value5=1040
Name6=Nihongo
Value6=1041
Name7=Hangul
Value7=1042
Name8=Nederlands
Value8=1043
Name9=Português Brasileiro
Value9=1046
Name10=Svenska
Value10=1053

#######################################################
#  TOP LEVEL SECTION
########################################################

[MAINTABSECTIONS]
Count=7
Item1= HOME
Item2= MYGAMES
Item3= CATALOG
Item4= BROADBAND
Item5= WEBGAMES
Item6= GAMECOMMUNITY
Item7= HELPDESK


###########################
#  SECTION: WEB GAMES 
###########################

[WEBGAMES]
Name=Web\nGames
Count=1
Item1=WebFeaturedGames
SectionActiveImg= Tabs\WebGamesActive.png
SectionInactiveImg= Tabs\webGamesInactive.png
SubSectionActiveImg= Tabs\SubSectionActive.png
SubSectionInactiveImg= Tabs\SubSectionInactive.png
SubSectionMouseOverImg= Tabs\SubSectionMouseOver.png
SubSectionBottomImg= Tabs\SubSectionBottom.png

[WebFeaturedGames]
Name=Overview
Count=2
#Type
Value1=HTML
#URL
Value2=http://games-dl.real.com/gameconsole/web/flipside/flipside.htm


[INFOWINDOWTARGETED]
Count=4
# URL for the default infowindow
Item1=http://switchboard.real.com/arcade/partnersites.html?ID=3093
# Width
Item2=300		
# Height
Item3=250
# Offline
Item4=html\404.htm
