BODY.games #header
{
    BORDER-TOP-COLOR: #1c5b66
}
BODY.games #assistant
{
    BORDER-TOP-COLOR: #1c5b66
}
BODY.games #header H2
{
    BACKGROUND: url(images/games.gif) no-repeat -137px 0px
}
BODY.games #container
{
}
BODY.games #stage
{
    BORDER-LEFT-COLOR: #1c5b66;
    BORDER-RIGHT-COLOR: #1c5b66
}
BODY.wide #container
{
    BACKGROUND-IMAGE: none
}
BODY.wide #stage
{
    BORDER-LEFT-COLOR: #1c5b66;
    BORDER-RIGHT-COLOR: #1c5b66
}
BODY.games #article H6
{
    COLOR: #1c5b66
}
BODY.games #article H3
{
    COLOR: #1c5b66
}
BODY.games P.dateline
{
    COLOR: #1c5b66
}
BODY.games H4.article
{
    COLOR: #1c5b66
}
BODY.games H4.m-subtitle
{
    COLOR: #1c5b66
}
BODY.games #fanvideo DD.fv-source
{
    COLOR: #1c5b66
}
BODY.games .module H3
{
    COLOR: #1c5b66
}
BODY.games #stage H2
{
    PADDING-RIGHT: 0px! important;
    PADDING-LEFT: 0px! important;
    FONT-SIZE: 0.8em;
    BACKGROUND-IMAGE: url(images/games-h2.html);
    PADDING-BOTTOM: 0px! important;
    OVERFLOW: hidden;
    TEXT-TRANSFORM: uppercase;
    TEXT-INDENT: -9999px;
    PADDING-TOP: 0px! important;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 19px;
    BACKGROUND-COLOR: #1c5b66
}
BODY.games H2#h2-games-main
{
    DISPLAY: none
}
BODY.games H2#gamesondemand
{
    BACKGROUND-POSITION: 0px -19px
}
BODY.games H2#h2-comcastarcade
{
    BACKGROUND-POSITION: 0px -38px
}
TR.highlight
{
    BORDER-RIGHT: #eaeaeb 1px solid;
    BORDER-TOP: #eaeaeb 1px solid;
    BORDER-LEFT: #eaeaeb 1px solid;
    BORDER-BOTTOM: #eaeaeb 1px solid;
    BACKGROUND-COLOR: #f7f9fa
}
BODY.main #stage
{
    POSITION: relative;
    HEIGHT: 1800px
}
BODY.games #m-playgames H3
{
    DISPLAY: none
}
BODY.games #m-invasion H3
{
    DISPLAY: none
}
BODY.games #m-playgames P.cover-content
{
    DISPLAY: none
}
BODY.games #m-invasion P.cover-content
{
    DISPLAY: none
}
BODY.games #m-playgames
{
    BACKGROUND: url(images/m-playgames.jpg) no-repeat 0px 0px;
    LEFT: 7px;
    WIDTH: 280px;
    POSITION: absolute;
    TOP: 25px;
    HEIGHT: 236px
}
BODY.games #m-playgames P.go
{
    LEFT: 0px;
    WIDTH: 280px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 214px
}
BODY.games #m-playgames P.go A
{
    DISPLAY: block;
    BACKGROUND: url(images/go-playgames.gif) no-repeat 171px 177px;
    WIDTH: 280px;
    TEXT-INDENT: -9999px;
    HEIGHT: 214px;
    TEXT-DECORATION: none
}
BODY.games #m-playgames P.go A:hover
{
    BACKGROUND: url(images/go-playgames-hover.gif) no-repeat 171px 177px
}
BODY.games #m-invasion
{
    BACKGROUND: url(images/m-invasion.gif) no-repeat 0px 0px;
    LEFT: 287px;
    WIDTH: 279px;
    POSITION: absolute;
    TOP: 25px;
    HEIGHT: 236px
}
BODY.games #m-invasion P.go
{
    LEFT: 0px;
    WIDTH: 279px;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 224px
}
BODY.games #m-invasion P.go A
{
    DISPLAY: block;
    BACKGROUND: url(images/go-invasion.gif) no-repeat 156px 159px;
    WIDTH: 279px;
    TEXT-INDENT: -9999px;
    HEIGHT: 224px;
    TEXT-DECORATION: none
}
BODY.games #m-invasion P.go A:hover
{
    BACKGROUND: url(images/go-invasion-hover.gif) no-repeat 156px 159px
}
BODY.games #m-slug
{
    RIGHT: 13px;
    WIDTH: 200px;
    POSITION: absolute;
    TOP: 9px;
    HEIGHT: 44px
}
BODY.games #m-slug A
{
    DISPLAY: block;
    BACKGROUND: url(images/slug.gif) no-repeat 0px 0px;
    WIDTH: 200px;
    TEXT-INDENT: -9999px;
    HEIGHT: 44px;
    TEXT-DECORATION: none
}
BODY.games #m-slug A:hover
{
    BACKGROUND-POSITION: 0px -44px
}
BODY.games #m-god
{
    COLOR: #000;
    POSITION: absolute;
    TOP: 266px;
    BACKGROUND-COLOR: transparent
}
BODY.games #m-god .module-content
{
    MARGIN-TOP: 18px;
    MARGIN-RIGHT: 10px
}
BODY.games #m-god H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    MARGIN-BOTTOM: 0px;
    LINE-HEIGHT: 1.2em
}
BODY.games #m-god P
{
    FONT-SIZE: 1em;
    MARGIN-BOTTOM: 0px;
    LINE-HEIGHT: 1.2em
}
BODY.games #m-god P A
{
    COLOR: #000
}
BODY.games DIV.god-scrabble
{
    BACKGROUND: url(images/god-tiles.gif) no-repeat 0px 0px;
    LEFT: 13px;
    WIDTH: 268px;
    HEIGHT: 110px
}
BODY.games DIV.god-scrabble .module-content
{
    MARGIN-LEFT: 68px
}
BODY.games DIV.god-poolballs
{
    BACKGROUND: url(images/god-poolballs.gif) no-repeat 0px 0px;
    LEFT: 11px;
    WIDTH: 270px;
    HEIGHT: 113px
}
BODY.games DIV.god-poolballs .module-content
{
    MARGIN-LEFT: 70px
}
BODY.games DIV.god-cards
{
    BACKGROUND: url(images/god-cards.gif) no-repeat 0px 0px;
    LEFT: 9px;
    WIDTH: 272px;
    HEIGHT: 110px
}
BODY.games DIV.god-cards .module-content
{
    MARGIN-LEFT: 72px
}
BODY.games #m-promotions
{
    COLOR: #000;
    POSITION: absolute;
    BACKGROUND-COLOR: transparent
}
BODY.games #m-promotions H4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    MARGIN-BOTTOM: 0px;
    LINE-HEIGHT: 1.2em
}
BODY.games #m-promotions P
{
    FONT-SIZE: 1em;
    MARGIN-BOTTOM: 0px;
    LINE-HEIGHT: 1.2em
}
BODY.games #m-promotions P A
{
    COLOR: #000
}
BODY.games DIV.p-man
{
    BACKGROUND: url(images/promotions-man.gif) no-repeat 0px 0px;
    LEFT: 307px;
    WIDTH: 278px;
    TOP: 227px;
    HEIGHT: 147px
}
BODY.games DIV.p-man .module-content
{
    MARGIN: 60px 60px 0px 25px
}
BODY.games DIV.p-ninja
{
    BACKGROUND: url(images/promotions-ninja.gif) no-repeat 0px 0px;
    LEFT: 307px;
    WIDTH: 277px;
    TOP: 247px;
    HEIGHT: 121px
}
BODY.games DIV.p-ninja .module-content
{
    MARGIN: 39px 60px 0px 25px
}
BODY.games DIV.p-car
{
    BACKGROUND: url(images/promotions-car.gif) no-repeat 0px 0px;
    LEFT: 306px;
    WIDTH: 275px;
    TOP: 247px;
    HEIGHT: 135px
}
BODY.games DIV.p-car .module-content
{
    MARGIN: 39px 60px 0px 25px
}
BODY.games #m-quicklinks
{
    COLOR: #000;
    POSITION: absolute;
    BACKGROUND-COLOR: transparent
}
BODY.games #m-quicklinks P.title
{
    MARGIN-BOTTOM: 11px
}
BODY.games #m-quicklinks .module-content UL
{
    LIST-STYLE-TYPE: none
}
BODY.games #m-quicklinks .module-content UL LI
{
    FONT-SIZE: 0.9em;
    LINE-HEIGHT: 2em
}
BODY.games #m-quicklinks .module-content UL A
{
    COLOR: #000
}
BODY.games DIV.ql-car
{
    BACKGROUND: url(images/ql-car.gif) no-repeat 0px 0px;
    LEFT: 26px;
    WIDTH: 559px;
    TOP: 390px;
    HEIGHT: 183px
}
BODY.games DIV.ql-car .module-content
{
    MARGIN: 22px 250px 0px 38px
}
BODY.games DIV.ql-wordgames
{
    BACKGROUND: url(images/ql-wordgames.gif) no-repeat 0px 0px;
    LEFT: 26px;
    WIDTH: 554px;
    TOP: 387px;
    HEIGHT: 186px
}
BODY.games DIV.ql-wordgames .module-content
{
    MARGIN: 25px 250px 0px 38px
}
BODY.games DIV.ql-helicopter
{
    BACKGROUND: url(images/ql-helicopter.gif) no-repeat 0px 0px;
    LEFT: 26px;
    WIDTH: 557px;
    TOP: 390px;
    HEIGHT: 185px
}
BODY.games DIV.ql-helicopter .module-content
{
    MARGIN: 22px 250px 0px 38px
}
BODY.games .module H3
{
    BACKGROUND-IMAGE: url(images/games.gif);
    TEXT-INDENT: -9999px;
    BACKGROUND-REPEAT: no-repeat
}
BODY.games H3#h-playitnow
{
    BACKGROUND-POSITION: 0px 0px
}
BODY.games H3#h-topdownloadable
{
    BACKGROUND-POSITION: 0px -7px
}
BODY.games H3#h-igncom
{
    BACKGROUND-POSITION: 0px -14px
}
BODY.games H3#h-previews
{
    BACKGROUND-POSITION: 0px -21px
}
BODY.games H3#h-reviews
{
    BACKGROUND-POSITION: 0px -28px
}
BODY.games H3#h-news
{
    BACKGROUND-POSITION: 0px -35px
}
BODY.games H3#h-featuredgame
{
    BACKGROUND-POSITION: 0px -42px
}
BODY.games H3#h-kidsgow
{
    BACKGROUND-POSITION: 0px -49px
}
BODY.games H3#h-comcastarcade
{
    BACKGROUND-POSITION: 0px -56px
}
BODY.games H3#h-topsellers
{
    BACKGROUND-POSITION: 0px -63px
}
BODY.games H3#h-screenshots
{
    BACKGROUND-POSITION: 0px -70px
}
BODY.games H3#h-video
{
    BACKGROUND-POSITION: 0px -77px
}
BODY.games H3#h-moreimages
{
    BACKGROUND-POSITION: 0px -84px
}
BODY.games H3#h-genre
{
    BACKGROUND-POSITION: 0px -91px
}
BODY.games H3#h-customerrating
{
    BACKGROUND-POSITION: 0px -98px
}
BODY.games H3#h-gamerating
{
    BACKGROUND-POSITION: 0px -105px
}
BODY.games H3#h-learningcurve
{
    BACKGROUND-POSITION: 0px -112px
}
BODY.games H3#h-fullversion
{
    BACKGROUND-POSITION: 0px -119px
}
BODY.games H3#h-systemrequirements
{
    BACKGROUND-POSITION: 0px -126px
}
BODY.games H3#h-arcade
{
    BACKGROUND-POSITION: 0px -133px
}
BODY.games H3#h-cardcasino
{
    BACKGROUND-POSITION: 0px -140px
}
BODY.games H3#h-mahjongg
{
    BACKGROUND-POSITION: 0px -147px
}
BODY.games H3#h-puzzle
{
    BACKGROUND-POSITION: 0px -154px
}
BODY.games H3#h-sports
{
    BACKGROUND-POSITION: 0px -161px
}
BODY.games H3#h-word
{
    BACKGROUND-POSITION: 0px -168px
}
BODY.games H3#h-250greatgames
{
    BACKGROUND-POSITION: 0px -175px
}
BODY.games H3#h-aracdeisbetterway
{
    BACKGROUND-POSITION: 0px -182px
}
BODY.games H3#h-playgames
{
    BACKGROUND-POSITION: 0px -189px
}
BODY.games H3#h-invasion
{
    BACKGROUND-POSITION: 0px -196px
}
BODY.arcade .module H4
{
    PADDING-RIGHT: 0px! important;
    PADDING-LEFT: 0px! important;
    FONT-SIZE: 0.8em;
    BACKGROUND-IMAGE: url(images/games-h4.gif);
    MARGIN-BOTTOM: 8px;
    PADDING-BOTTOM: 0px! important;
    OVERFLOW: hidden;
    TEXT-TRANSFORM: uppercase;
    TEXT-INDENT: -9999px;
    PADDING-TOP: 0px! important;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 7px;
    BACKGROUND-COLOR: transparent
}
BODY.arcade H4#h-hugeselection
{
    BACKGROUND-POSITION: 0px 0px
}
BODY.arcade H4#h-alwaysfresh
{
    BACKGROUND-POSITION: 0px -7px
}
BODY.arcade H4#h-choosefrom
{
    BACKGROUND-POSITION: 0px -14px;
    HEIGHT: 19px
}
BODY.arcade H4#h-amazingquality
{
    BACKGROUND-POSITION: 0px -33px
}
BODY.arcade H4#h-loadsoffeatures
{
    BACKGROUND-POSITION: 0px -40px;
    HEIGHT: 19px
}
BODY.ondemand #stage
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    PADDING-TOP: 20px;
    BORDER-BOTTOM: 0px
}
BODY.ondemand #subnav
{
    MARGIN: 0px 20px
}
#god-landing
{
    MARGIN: 0px 18px 20px
}
BODY.games A.whitebold
{
    COLOR: #fff
}
#god-landing P
{
    MARGIN: 0px;
    FONT: 1em/1.2em Verdana, Arial
}
#god-landing .disclaimer
{
    FONT-SIZE: 7pt;
    COLOR: #000000;
    LINE-HEIGHT: 8pt;
    FONT-FAMILY: Verdana, Arial
}
#god-landing A.disclaimer
{
    COLOR: #006699
}
#god-landing .answer
{
    DISPLAY: none
}
BODY.ondemand #god-landing A
{
    TEXT-DECORATION: underline
}
#god-landing A
{
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial
}
#god-landing .whitebold
{
    FONT: bold 10px/12pt Verdana, Arial;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
#god-landing .note
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#god-landing .bluebold9pt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #006599;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#god-landing .blue9pt
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #006599;
    LINE-HEIGHT: 9pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#god-landing A.bluebold9ptlink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #006599;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline! important
}
#god-landing A.bluebold9ptlink_noul
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #006599;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#god-landing A.blue9ptlink_noul
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #006599;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#god-landing A.blue9ptlink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #006599;
    LINE-HEIGHT: 10pt;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline! important
}
BODY.ondemand #god-login
{
    MARGIN: 20px 20px 10px;
    TEXT-ALIGN: right
}
BODY.ondemand #god-login P
{
    COLOR: #006599
}
BODY.ondemand #god-login A
{
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: uppercase;
    COLOR: #006599;
    TEXT-DECORATION: underline
}
BODY.ondemand H2
{
    DISPLAY: none
}
BODY.ondemand H4#activex
{
    FONT-SIZE: 1.3em;
    MARGIN: 5px 0px;
    COLOR: #000
}
BODY.ondemand IMG#activex-download
{
    MARGIN: 5px 0px
}
BODY.ondemand .black11
{
    FONT: 11px/10.5pt Verdana, Arial;
    COLOR: #000000
}
BODY.games #stage H2#h-arcade
{
    PADDING-RIGHT: 0px! important;
    PADDING-LEFT: 0px! important;
    FONT-SIZE: 0.8em;
    BACKGROUND-IMAGE: url(images/arcade-h2.gif);
    MARGIN-BOTTOM: 20px;
    PADDING-BOTTOM: 0px! important;
    OVERFLOW: hidden;
    TEXT-TRANSFORM: uppercase;
    WIDTH: 198px;
    TEXT-INDENT: -9999px;
    PADDING-TOP: 0px! important;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 31px;
    BACKGROUND-COLOR: transparent
}
BODY.games #stage H5#h-playgames
{
    PADDING-RIGHT: 0px! important;
    PADDING-LEFT: 0px! important;
    FONT-SIZE: 0.8em;
    BACKGROUND-IMAGE: url(images/playgames.gif);
    PADDING-BOTTOM: 0px! important;
    MARGIN: 15px 0px 10px;
    OVERFLOW: hidden;
    TEXT-TRANSFORM: uppercase;
    WIDTH: 244px;
    TEXT-INDENT: -9999px;
    PADDING-TOP: 0px! important;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 8px;
    BACKGROUND-COLOR: transparent
}
#arcade_landing .module
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 20px;
    MARGIN: 0px 20px;
    PADDING-TOP: 20px;
    BORDER-BOTTOM: #dfddde 1px solid
}
#arcade_bottom
{
    MARGIN: 1px 20px;
    BORDER-BOTTOM: #dfddde 1px solid
}
#arcade_landing #m-first
{
    PADDING-TOP: 0px
}
#m-first IMG
{
    DISPLAY: block
}
#m-third IMG
{
    DISPLAY: block
}
#m-third A IMG
{
    MARGIN: 15px 0px
}
#m-first DIV.left
{
    FLOAT: left;
    WIDTH: 255px
}
#m-third DIV.left
{
    FLOAT: left;
    WIDTH: 255px
}
#m-first DIV.right
{
    MARGIN-LEFT: 275px
}
#m-third DIV.right
{
    MARGIN-LEFT: 275px
}
UL#featurelist1
{
    LIST-STYLE-TYPE: none
}
UL#featurelist2
{
    LIST-STYLE-TYPE: none
}
UL#featurelist1 LI P
{
    MARGIN-BOTTOM: 0px
}
UL#featurelist2 LI P
{
    MARGIN-BOTTOM: 0px
}
UL#featurelist1 LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 20px;
    MARGIN: 0px 0px 20px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #dfddde 1px dotted
}
UL#featurelist2 LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND-IMAGE: none;
    PADDING-BOTTOM: 20px;
    MARGIN: 0px 0px 20px;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #dfddde 1px dotted
}
UL#featurelist2 LI.last
{
    MARGIN: 0px;
    BORDER-BOTTOM: medium none
}
