###########################
# DISTCODE SECTION
###########################

[DISTCODE]
Count=1
Value1= W3R0

###########################
#  SECTION: AT&T CUSTOMIZATIONS
###########################

[MAINTABSECTIONS]
Count=7
Item1= HOME
Item2= MYGAMES
Item3= CATALOG
Item4= WEBGAMES
Item5= GAMECOMMUNITY
Item6= AT&T
Item7= HELPDESK

[AT&T]
Name=AT&T\nWorldnet
Count=2
Item1=HomePage
Item2=CheckE-mail

SectionActiveImg= Tabs\attactive.png
SectionInactiveImg= Tabs\attInactive.png
SubSectionActiveImg= Tabs\SubSectionActive.png
SubSectionInactiveImg= Tabs\SubSectionInactive.png
SubSectionMouseOverImg= Tabs\SubSectionMouseOver.png
SubSectionBottomImg= Tabs\SubSectionBottom.png

[HomePage]

Name=Home Page
Count=2
#Type
Value1=HTML
#URL
Value2=http://games-dl.real.com/gameconsole/web/attworldnet/attworldnet.htm

[CheckE-mail]

Name=Check E-mail
Count=2
#Type
Value1=HTML
#URL
Value2=http://games-dl.real.com/gameconsole/web/attworldnet/attworldnet_email.htm

[WEBGAMES]
Name=Web\nGames
Count=1
Item1=WebFeaturedGames
SectionActiveImg= Tabs\WebGamesActive.png
SectionInactiveImg= Tabs\webGamesInactive.png
SubSectionActiveImg= Tabs\SubSectionActive.png
SubSectionInactiveImg= Tabs\SubSectionInactive.png
SubSectionMouseOverImg= Tabs\SubSectionMouseOver.png
SubSectionBottomImg= Tabs\SubSectionBottom.png

[WebFeaturedGames]
Name=Overview
Count=2
#Type
Value1=HTML
#URL
Value2=file://webgames.htm

[AltConfiguration]
Count=4
Config1=catalog\arcade.cfg
Config2=catalog\gameinfo.cfg
Config3=catalog\sponinfo.cfg
Config4=catalog\addons.cfg\

###########################
#  SECTION: GAME GUIDE
###########################

[HOME]
Name=Game\nGuide
Count=3
Item1=DownloadableGames
Item2=GamePass
Item3=TourRealArcade

SectionActiveImg= Tabs\GameguideActive.png
SectionInactiveImg= Tabs\GameguideInactive.png
SubSectionActiveImg= Tabs\SubSectionActive.png
SubSectionInactiveImg= Tabs\SubSectionInactive.png
SubSectionMouseOverImg= Tabs\SubSectionMouseOver.png
SubSectionBottomImg= Tabs\SubSectionBottom.png

[DownloadableGames]
Name=Home
Count=2
#Type
Value1=HTML
#URL
Value2=file://GameGuide.htm

[GamePass]
Name=GamePass
Count=2
#Type
Value1=HTML
#URL
Value2=file://GamePass.htm

[TourRealArcade]
Name=RealArcade Tour
Count=2
#Type
Value1=HTML
#URL
Value2=http://switchboard.real.com/arcade/sites.html?ID=570&DC=<DISTCODE>

###########################
#  SECTION: AT&T CUSTOMIZATIONS
###########################

[INFOWINDOWTARGETED] 
Count=4 
# URL for the default infowindow
Item1=http://ad.doubleclick.net/adi/real.games/attarcade/infowindow/image-only;sect=games;sz=300x250;oem=0;guid=<CURRENTDL>
# Width
Item2=300                
# Height
Item3=250
# Offline
Item4=html\404.htm